body {
    font-family: Arial;
    background-color: whitesmoke;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#medicines {
    width: 80%;
    margin: 0 auto;
}

.section {
    margin-bottom: 20px;
}

button {
    margin: 10px;
    padding: 25px;
    background-color: black;
    color: whitesmoke;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

tfoot td {
    font-weight: bold;
}
